################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/bin
/src/obj
/src/TimeTracker051617.csproj.user
/.vs/TimeTracker051617/v15/.suo
/src/wwwroot/lib
